
figure {
  position: relative;
  display: FLEX;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  overflow: hidden; 
    /* Clip content that exceeds boundaries */
}

.heroImage {
  width: 100%;
  object-fit: cover; /* Ensure image covers the area without distortion */

}

figcaption {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: start;
  font-size: 1em;
  border-radius: 5px;
  z-index: 2;
  width: 80%;
  max-width: 200px;
  margin-top:1em;}

.primary-caption {
  top: 10%;
  margin-left:-2em;
  font-size: 1em;
  max-width: 170px;

}

.secondary-caption {
  top: 45%;
  font-size: 0.6em;
  margin-top: 3.5em;
  max-width: 170px;
  margin-left:-2em;
  padding-right: 1.5em;

}

.hittaHus {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  border-radius: 2em;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.hittaHus-button{
  background-color: #E0B38C;
  padding: 1em 5em 1em  5em;
  color: #FAF7F7;
}

article{
  display: flex;
  flex-direction: column;
  gap:1em;
  margin-top: 1em;
  
}
.Känns {
  font-size: 1.5em; /* Adjust size as needed */
  color: #333;      /* Optional styling */
  margin: 0;        /* Remove default margins */
align-self: center;
}
