figure {
  position: relative; /* Set position to relative to position captions over it */
  display: inline-block; /* Ensure the figure fits the content */
  width: 100%;
  max-width: 1440px;
  margin: auto;

}

.heroImage {
  width: 100%;
  height: auto;
}

figcaption {
  position: absolute; /* Position captions absolutely within the figure */
  left: 50%;
  transform: translateX(-50%); /* Center captions horizontally */
  color: white;
  text-align: center;
  font-size: 1em;
  border-radius: 5px; /* Optional: rounds the corners */
  z-index: 2; /* Ensure captions stay above the image */
  padding: 1em;
  width: 80%; /* You can adjust the width based on your design */
  text-align:start;
  padding-right:7em;
  max-width:200px;

}

/* First caption styles */
.primary-caption {
  top: 20%; /* Position the first caption towards the top of the image */
  font-size: 1em; /* Optional: different font size for emphasis */
  max-width:170px;

}

/* Second caption styles */
.secondary-caption {
  top: 50%; /* Position the second caption below the first one */
  font-size: 0.6em; /* Adjust as needed */
  margin-top:3em;
  margin-left: 0.5em;
  max-width:170px;

}
